@import "~styles/breakpoints.module.scss";

.container {
  width: 100%;
  margin-bottom: 1.5rem;
  color: var(--color-lime);

  @media only screen and (min-width: $small-tablet) {
    margin-bottom: 2rem;
  }
}

.form {
  @media only screen and (min-width: $tablet) {
    display: flex;
  }
}

.input {
  border: 2px solid var(--color-lime);
  border-radius: 6px;
  background: var(--color-warm-black);
  height: 60px;
  padding: 0 1.5rem;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--color-lime);

  &::placeholder {
    color: var(--color-lime);
    user-select: none;
  }

  &.error {
    border-color: var(--color-error);
  }

  @media only screen and (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 0.5rem;
    height: 90px;
  }
}

.signUpButton {
  background: var(--color-lime);
  color: var(--color-warm-black);
  height: 60px;
  padding: 0 2.25rem;
  border-radius: 6px;
  width: 100%;
  user-select: none;
  @media only screen and (min-width: $tablet) {
    width: 230px;
    height: 90px;
  }
}
