@import "~styles/breakpoints.module.scss";

.container {
  width: 100%;
  padding-bottom: 2.25rem;
  color: var(--color-lime);
}

.availableText {
  text-transform: uppercase;
  color: var(--color-warm-black);
  display: flex;
  justify-content: center;
  padding: 1rem 0 1.75rem;
}

.header {
  margin-bottom: 1.5rem;
}

.description {
  margin-bottom: 3.75rem;
}

.input {
  border: 2px solid var(--color-lime);
  border-radius: 6px;
  background: var(--color-warm-black);
  height: 90px;
  padding: 0 1.5rem;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--color-lime);
  font-size: 18px;

  &::placeholder {
    color: var(--color-lime);
    user-select: none;
  }

  &.error {
    border-color: var(--color-error);
  }
}

.signUpButton {
  background: var(--color-lime);
  color: var(--color-warm-black);
  height: 90px;
  padding: 0 2.25rem;
  border-radius: 6px;
  width: 100%;
  user-select: none;
}
