@import "~styles/breakpoints.module.scss";

.grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(8, 1fr);

  @media only screen and (min-width: $small-tablet) {
    gap: 16px;
  }

  @media only screen and (min-width: $small-desktop) {
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
  }
}
