.button {
  border-top: 1px solid var(--color-black-20);
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;

  &:focus-visible {
    background: var(--color-black-10);
  }
}

.buttonText {
  margin-right: 1rem;
}

.arrowIcon {
  transition: transform 0.3s;
  margin-right: 3.5px;
  &.rotate {
    transform: rotate(180deg);
  }
}

.contentContainer {
  overflow: hidden;
  transition: height 0.3s;
}
.contentText {
  padding-bottom: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s;

  &.visible {
    opacity: 1;
  }
}
