$size: 30px;

.container {
  display: inline-block;
}

.icon {
  height: $size;
  width: $size;
  fill: #161414;
  transition: fill 1s;

  &:hover {
    fill: var(--color-lavendar);
    transition: fill 0s;
  }
}

:export {
  size: $size;
}
