@import "~styles/breakpoints.module.scss";

.container {
  width: 100%;
  max-width: $xl;
  margin: auto;
}

.padding {
  padding: 0 1rem;
  height: 100%;
  @media only screen and (min-width: $small-tablet) {
    padding: 0 1.5rem;
  }
  @media only screen and (min-width: $small-desktop) {
    padding: 0 2.5rem;
  }
}

.heightProvider {
  display: flex;
  flex-direction: column;
  height: 100vh;

  // Prevents fuckery in iOS / mobile browsers
  max-height: calc(100vh - 80px);

  @media only screen and (min-width: $tablet) {
    max-height: none;
  }
}
