@import "~styles/breakpoints.module.scss";

.container {
  margin: 2.5rem 0;
  @media only screen and (min-width: $small-tablet) {
    margin: 3.75rem 0;
  }
}

.title {
  margin-bottom: 1.5rem;
}

.tileGrid {
  @media only screen and (min-width: $small-tablet) {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: $large-tablet) {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tileContainer {
  margin-bottom: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }
}
