@import "~styles/breakpoints.module.scss";

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;

  @media only screen and (min-width: $small-tablet) {
    margin-bottom: 2rem;
  }
}

.listItem {
  margin: 0 1rem;
}

.link {
  border-radius: 6px;
  padding: 0.25rem;
  display: block;

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--color-lime);
  }
}

.icon {
  display: block;
  fill: var(--color-lime);
  height: 2.5rem;
  transition: all 0.2s;

  &:hover {
    fill: var(--color-lime-hover);
  }
}

.copyright {
  color: var(--color-lime);
  text-align: center;
  text-transform: uppercase;
}