@import "~styles/breakpoints.module.scss";

$HEADER_HEIGHT: 52px;
$BREAKPOINT: $small-desktop;

.container {
  width: 100%;
  display: none;
  margin-top: $HEADER_HEIGHT;
  @media only screen and (min-width: $BREAKPOINT) {
    margin-top: 0;
  }

  &__visible {
    display: block;
  }
}

.fixedContainer {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 40;
}

.header {
  &__bar {
    height: $HEADER_HEIGHT;
    background: var(--color-classic-black);
    color: var(--color-white);
    user-select: none;
    transition: background-color 0.3s;

    &___transparent {
      @media only screen and (min-width: $BREAKPOINT) {
        background: transparent;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__desktopNav {
    display: none;

    @media (min-width: $BREAKPOINT) {
      display: block;
    }

    ul {
      display: flex;
    }

    li {
      text-transform: uppercase;
      margin-right: 1.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__desktopMenuItem {
    display: none;
    @media (min-width: $BREAKPOINT) {
      display: inline;
    }
  }

  &__mobileIcons {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &__icon {
      @media (min-width: $BREAKPOINT) {
        display: none;
      }
    }
  }

  &__hamburger {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px 2px;

    &__line {
      transition: 0.3s var(--cubic-easing) transform;
      width: 100%;
      height: 2px;
      display: block;
      background: white;
      border-radius: 2px;

      &__active1 {
        transform: rotate(45deg) translate3d(5px, 5px, 0) scale(1);
      }

      &__active2 {
        transform: rotate(0deg) translate3d(0, 0, 0) scale(0);
      }

      &__active3 {
        transform: rotate(-45deg) translate3d(5px, -5px, 0) scale(1);
      }
    }
  }
}

.mobileMenu {
  transition: 0.3s var(--cubic-easing) transform;
  background: var(--color-darling-mauve);
  height: calc(100vh - $HEADER_HEIGHT);
  position: fixed;
  top: $HEADER_HEIGHT;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  z-index: 40;

  @media only screen and (min-width: $BREAKPOINT) {
    display: none;
  }

  &__active {
    transform: translateX(0%);
  }

  ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
