@import "~styles/breakpoints.module.scss";

$HEADER_HEIGHT: 52px;
$BREAKPOINT: $large-tablet;

.disableScroll {
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  margin-top: $HEADER_HEIGHT;

  &.removeTopMargin {
    @media only screen and (min-width: $BREAKPOINT) {
      margin-top: 0;
    }
  }
}

.fixedContainer {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 40;
}

.headerBar {
  height: $HEADER_HEIGHT;
  background: var(--color-classic-black);
  color: var(--color-white);
  user-select: none;
  transition: background-color 0.3s;

  &.transparent {
    @media only screen and (min-width: $BREAKPOINT) {
      background: transparent;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .desktopNav {
    display: none;

    @media (min-width: $BREAKPOINT) {
      display: block;
    }

    ul {
      display: flex;
    }

    li {
      text-transform: uppercase;
      margin-right: 1.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .desktopMenuItem {
    display: none;
    @media (min-width: $BREAKPOINT) {
      display: inline;
    }
  }

  .mobileIcons {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .icon {
      @media (min-width: $BREAKPOINT) {
        display: none;
      }
    }
  }

  .hamburger {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px 2px;

    .line {
      transition: 0.3s var(--cubic-easing) transform;
      width: 100%;
      height: 2px;
      display: block;
      background: white;
      border-radius: 2px;

      &.active1 {
        transform: rotate(45deg) translate3d(5px, 5px, 0) scale(1);
      }

      &.active2 {
        transform: rotate(0deg) translate3d(0, 0, 0) scale(0);
      }

      &.active3 {
        transform: rotate(-45deg) translate3d(5px, -5px, 0) scale(1);
      }
    }
  }
}

.mobileMenu {
  transition: 0.3s var(--cubic-easing) transform;
  background: var(--color-darling-mauve);
  height: calc(100vh - $HEADER_HEIGHT);
  position: fixed;
  top: $HEADER_HEIGHT;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  z-index: 40;
  user-select: none;

  @media only screen and (min-width: $BREAKPOINT) {
    display: none;
  }

  &.active {
    transform: translateX(0%);
  }

  ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
