@import "~styles/breakpoints.module.scss";

.container {
  position: relative;
  padding: 2.5rem 0;

  @media only screen and (min-width: $large-tablet) {
    padding: 3.5rem 0;
  }

  @media only screen and (min-width: $desktop) {
    padding: 5rem 0;
  }
}

.bgImage {
  position: absolute;
  inset: 0;
  z-index: -10;
}

.flexWrapper {
  @media only screen and (min-width: $desktop) {
    display: flex;
  }
}

.text,
.formContainer {
  @media only screen and (min-width: $desktop) {
    flex: 1;
  }
}

.text {
  color: var(--color-sick-lime);
  margin-bottom: 1rem;
  @media only screen and (min-width: $desktop) {
    margin-right: 7rem;
    margin-bottom: 0;
  }
}

.header {
  margin-bottom: 1.5rem;
}

.formContainer {
  background: var(--color-white);
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.inputField {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.nameAndEmailFields {
  margin-bottom: 1rem;

  @media only screen and (min-width: $tablet) {
    display: flex;
    gap: 1.25rem;
  }
}

.successContainer {
  position: absolute;
  inset: 0;
  padding: 1.5rem;
  background: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  opacity: 0;
  transform: scale(1.1);
  filter: blur(10px);
  transition: all 0.4s;
  will-change: transform;
  pointer-events: none;

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  &.visible {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    pointer-events: all;
  }
}
