@import "~styles/breakpoints.module.scss";

.container {
  padding: 1rem 0;
  @media only screen and (min-width: $small-desktop) {
    padding: 2.5rem 0;
  }
}

.colorBlock {
  border-radius: 10px;
  padding: 2rem 1rem;
  min-height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text {
  max-width: 500px;
}
