.container {
  color: var(--color-lime);
  text-align: center;
}

.header {
  margin-bottom: 2rem;
}

.homeLink {
  margin-bottom: 1rem;
  transition: color 0.2s;
  padding: 0.25rem;
  border-radius: 6px;

  &:hover {
    color: var(--color-lime-hover);
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--color-lime);
  }
}

.logoContainer {
  display: flex;
  justify-content: center;

  div {
    width: 300px;
  }
}
