@import "~styles/breakpoints.module.scss";

$BREAKPOINT: $large-tablet;

.footer {
  background: var(--color-classic-black);
  color: var(--color-white);
  padding: 2.5rem 0 1.5rem;
  @media only screen and (min-width: $BREAKPOINT) {
    padding: 1.5rem 0 2rem;
  }
}

.content {
  margin-bottom: 3.5rem;
  @media only screen and (min-width: $BREAKPOINT) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9rem;
  }
}

.newsletter {
  margin-bottom: 3.5rem;

  &__input {
    display: block;
    margin-top: 1rem;
  }
}

.nav {
  @media only screen and (min-width: $BREAKPOINT) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__ul {
    margin-bottom: 3.5rem;

    @media only screen and (min-width: $BREAKPOINT) {
      min-width: 12vw;
      max-width: 200px;
      margin-bottom: 0;
      margin-right: 1.5rem;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.logo {
  margin-bottom: 1rem;
  @media only screen and (min-width: $BREAKPOINT) {
    margin-bottom: 2rem;
  }
}

.bottomText {
  display: flex;
  justify-content: space-between;
}
