@import "~styles/breakpoints.module.scss";

$BREAKPOINT: $small-desktop;

.footer {
  background: var(--color-classic-black);
  color: var(--color-white);
  padding: 2.5rem 0 1.5rem;
  @media only screen and (min-width: $BREAKPOINT) {
    padding: 1.5rem 0 2rem;
  }
}

.content {
  margin-bottom: 3.5rem;
  @media only screen and (min-width: $BREAKPOINT) {
    margin-bottom: 9rem;
  }
}

.newsletter {
  margin-bottom: 3.5rem;
  grid-column: span 8;

  @media only screen and (min-width: $BREAKPOINT) {
    margin-bottom: 0;
    grid-column: span 4;
  }
}

.nav {
  display: grid;
  row-gap: 3.5rem;
  grid-column: span 8;

  @media only screen and (min-width: $BREAKPOINT) {
    gap: 1.5rem;
    grid-column: 7 / span 6;
    grid-template-columns: repeat(6, 1fr);
  }

  &__ul {
    grid-column: span 8;
    @media only screen and (min-width: $BREAKPOINT) {
      grid-column: span 2;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.logo {
  margin-bottom: 1rem;
  @media only screen and (min-width: $BREAKPOINT) {
    margin-bottom: 2rem;
  }
}

.bottomText {
  display: flex;
  justify-content: space-between;

  &__mobile {
    @media only screen and (min-width: $small-tablet) {
      display: none;
    }
  }

  &__desktop {
    display: none;
    @media only screen and (min-width: $small-tablet) {
      display: inline;
    }
  }
}
