@import "~styles/breakpoints.module.scss";

.container {
  margin-bottom: 2.25rem;

  @media only screen and (min-width: $tablet) {
    margin-bottom: 4.5rem;
  }
}

.logo {
  fill: var(--color-lime);
}
